<form method="POST">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form.as_p }}
        {% endfor %}
    {% else %}
            {{ wizard.form }}
    {% endif %}
    {% if wizard.steps.prev %}
    <button formnovalidate="formnovalidate" name="wizard_goto_step" value="{{ wizard.steps.first }}">
        first step
    </button>
    <button formnovalidate="formnovalidate" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
        prev step
    </button> {% endif %}

     <a href="{% url 'reglocations' %}">Edit Locations</a>
    <input type="submit" value="Submit">
</form>