<html>
    <head>
        <script type="text/javascript">
            function selectAll(){
                var items=document.getElementsByName('countries');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function UnSelectAll(){
                var items=document.getElementsByName('countries');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }

            function showhide() {
                var x = document.getElementById("countries");
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function subselectAll(){
                var items=document.querySelectorAll('[name="a_sub_list"], [name="b_sub_list"], [name="c_sub_list"], [name="d_sub_list"], [name="e_sub_list"], [name="f_sub_list"], [name="g_sub_list"], [name="h_sub_list"], [name="i_sub_list"], [name="j_sub_list"], [name="k_sub_list"], [name="l_sub_list"], [name="m_sub_list"], [name="n_sub_list"], [name="o_sub_list"], [name="p_sub_list"], [name="q_sub_list"], [name="r_sub_list"], [name="s_sub_list"], [name="t_sub_list"], [name="u_sub_list"], [name="v_sub_list"], [name="w_sub_list"], [name="x_sub_list"], [name="y_sub_list"], [name="z_sub_list"]');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function subUnSelectAll(){
                var items=document.querySelectorAll('[name="a_sub_list"], [name="b_sub_list"], [name="c_sub_list"], [name="d_sub_list"], [name="e_sub_list"], [name="f_sub_list"], [name="g_sub_list"], [name="h_sub_list"], [name="i_sub_list"], [name="j_sub_list"], [name="k_sub_list"], [name="l_sub_list"], [name="m_sub_list"], [name="n_sub_list"], [name="o_sub_list"], [name="p_sub_list"], [name="q_sub_list"], [name="r_sub_list"], [name="s_sub_list"], [name="t_sub_list"], [name="u_sub_list"], [name="v_sub_list"], [name="w_sub_list"], [name="x_sub_list"], [name="y_sub_list"], [name="z_sub_list"]');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            
            function subshowhide() {
                var x = document.getElementById('sub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function aselectAll(){
                var items=document.getElementsByName('a_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function aUnSelectAll(){
                var items=document.getElementsByName('a_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }

            function ashowhide() {
                var x = document.getElementById('asub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            
            function bselectAll(){
                var items=document.getElementsByName('b_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function bUnSelectAll(){
                var items=document.getElementsByName('b_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            
            function cselectAll(){
                var items=document.getElementsByName('c_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function cUnSelectAll(){
                var items=document.getElementsByName('c_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            
            function dselectAll(){
                var items=document.getElementsByName('d_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function dUnSelectAll(){
                var items=document.getElementsByName('d_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }

            function eselectAll(){
                var items=document.getElementsByName('e_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function eUnSelectAll(){
                var items=document.getElementsByName('e_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            
            function fselectAll(){
                var items=document.getElementsByName('f_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function fUnSelectAll(){
                var items=document.getElementsByName('f_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }

            function gselectAll(){
                var items=document.getElementsByName('g_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function gUnSelectAll(){
                var items=document.getElementsByName('g_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }

            function hselectAll(){
                var items=document.getElementsByName('h_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function hUnSelectAll(){
                var items=document.getElementsByName('h_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function iselectAll(){
                var items=document.getElementsByName('i_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function iUnSelectAll(){
                var items=document.getElementsByName('i_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }

            function jselectAll(){
                var items=document.getElementsByName('j_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function jUnSelectAll(){
                var items=document.getElementsByName('j_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function kselectAll(){
                var items=document.getElementsByName('k_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function kUnSelectAll(){
                var items=document.getElementsByName('k_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function lselectAll(){
                var items=document.getElementsByName('l_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function lUnSelectAll(){
                var items=document.getElementsByName('l_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function mselectAll(){
                var items=document.getElementsByName('m_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function mUnSelectAll(){
                var items=document.getElementsByName('m_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function nselectAll(){
                var items=document.getElementsByName('n_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function nUnSelectAll(){
                var items=document.getElementsByName('n_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function oselectAll(){
                var items=document.getElementsByName('o_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function oUnSelectAll(){
                var items=document.getElementsByName('o_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function pselectAll(){
                var items=document.getElementsByName('p_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function pUnSelectAll(){
                var items=document.getElementsByName('p_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function qselectAll(){
                var items=document.getElementsByName('q_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function qUnSelectAll(){
                var items=document.getElementsByName('q_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function rselectAll(){
                var items=document.getElementsByName('r_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function rUnSelectAll(){
                var items=document.getElementsByName('r_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function sselectAll(){
                var items=document.getElementsByName('s_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function sUnSelectAll(){
                var items=document.getElementsByName('s_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function tselectAll(){
                var items=document.getElementsByName('t_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function tUnSelectAll(){
                var items=document.getElementsByName('t_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function uselectAll(){
                var items=document.getElementsByName('u_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function uUnSelectAll(){
                var items=document.getElementsByName('u_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function vselectAll(){
                var items=document.getElementsByName('v_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function vUnSelectAll(){
                var items=document.getElementsByName('v_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function wselectAll(){
                var items=document.getElementsByName('w_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function wUnSelectAll(){
                var items=document.getElementsByName('w_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function xselectAll(){
                var items=document.getElementsByName('x_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function xUnSelectAll(){
                var items=document.getElementsByName('x_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function yselectAll(){
                var items=document.getElementsByName('y_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function yUnSelectAll(){
                var items=document.getElementsByName('y_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }
            function zselectAll(){
                var items=document.getElementsByName('z_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=true;
                }
            }
            
            function zUnSelectAll(){
                var items=document.getElementsByName('z_sub_list');
                for(var i=0; i<items.length; i++){
                    if(items[i].type=='checkbox')
                        items[i].checked=false;
                }
            }

            function bshowhide() {
                var x = document.getElementById('bsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function cshowhide() {
                var x = document.getElementById('csub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function dshowhide() {
                var x = document.getElementById('dsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function eshowhide() {
                var x = document.getElementById('esub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function fshowhide() {
                var x = document.getElementById('fsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function gshowhide() {
                var x = document.getElementById('gsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function hshowhide() {
                var x = document.getElementById('hsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function ishowhide() {
                var x = document.getElementById('isub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function jshowhide() {
                var x = document.getElementById('jsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function kshowhide() {
                var x = document.getElementById('ksub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function lshowhide() {
                var x = document.getElementById('lsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function mshowhide() {
                var x = document.getElementById('msub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function nshowhide() {
                var x = document.getElementById('nsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function oshowhide() {
                var x = document.getElementById('osub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function pshowhide() {
                var x = document.getElementById('psub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function qshowhide() {
                var x = document.getElementById('qsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function rshowhide() {
                var x = document.getElementById('rsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function sshowhide() {
                var x = document.getElementById('ssub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function tshowhide() {
                var x = document.getElementById('tsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function ushowhide() {
                var x = document.getElementById('usub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function vshowhide() {
                var x = document.getElementById('vsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function wshowhide() {
                var x = document.getElementById('wsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function xshowhide() {
                var x = document.getElementById('xsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function yshowhide() {
                var x = document.getElementById('ysub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }

            function zshowhide() {
                var x = document.getElementById('zsub-divisions');
                if(x.style.display === "none"){
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }


         </script>
    </head>
    <body>
        <form method="POST" action = "{% url 'reglocationspost' %}">
            {% csrf_token %}
            <h1>COUNTRIES</h1>
            <input type="button" onclick='showhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='selectAll()' value="Select All"/>
            <input type="button" onclick='UnSelectAll()' value="Unselect All"/>
            <br>
            <div id="countries" style="display: none">
            {% for  place in json_list %}
            <input type="checkbox" id="locations" name="countries" value='{{place}}'>
            <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h1>SUB-DIVISIONS</h1>
            <input type="button" onclick='subshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='subselectAll()' value="Select All"/>
            <input type="button" onclick='subUnSelectAll()' value="Unselect All"/>
            <div id="sub-divisions" style="display: none">
            <h2>A</h2>
            <input type="button" onclick='ashowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='aselectAll()' value="Select All"/>
            <input type="button" onclick='aUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="asub-divisions" style="display: none">
            {% for  place in a_sub_list %}
                    <input type="checkbox" id="locations" name="a_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>B</h2>
            <input type="button" onclick='bshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='bselectAll()' value="Select All"/>
            <input type="button" onclick='bUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="bsub-divisions" style="display: none">
            {% for  place in b_sub_list %}
                    <input type="checkbox" id="locations" name="b_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>C</h2>
            <input type="button" onclick='cshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='cselectAll()' value="Select All"/>
            <input type="button" onclick='cUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="csub-divisions" style="display: none">
            {% for  place in c_sub_list %}
                    <input type="checkbox" id="locations" name="c_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>D</h2>
            <input type="button" onclick='dshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='dselectAll()' value="Select All"/>
            <input type="button" onclick='dUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="dsub-divisions" style="display: none">
            {% for  place in d_sub_list %}
                    <input type="checkbox" id="locations" name="d_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>E</h2>
            <input type="button" onclick='eshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='eselectAll()' value="Select All"/>
            <input type="button" onclick='eUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="esub-divisions" style="display: none">
            {% for  place in e_sub_list %}
                    <input type="checkbox" id="locations" name="e_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>F</h2>
            <input type="button" onclick='fshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='fselectAll()' value="Select All"/>
            <input type="button" onclick='fUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="fsub-divisions" style="display: none">
            {% for  place in f_sub_list %}
                    <input type="checkbox" id="locations" name="f_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>G</h2>
            <input type="button" onclick='gshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='gselectAll()' value="Select All"/>
            <input type="button" onclick='gUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="gsub-divisions" style="display: none">
            {% for  place in g_sub_list %}
                    <input type="checkbox" id="locations" name="g_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>H</h2>
            <input type="button" onclick='hshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='hselectAll()' value="Select All"/>
            <input type="button" onclick='hUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="hsub-divisions" style="display: none">
            {% for  place in h_sub_list %}
                    <input type="checkbox" id="locations" name="h_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>I</h2>
            <input type="button" onclick='ishowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='iselectAll()' value="Select All"/>
            <input type="button" onclick='iUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="isub-divisions" style="display: none">
            {% for  place in i_sub_list %}
                    <input type="checkbox" id="locations" name="i_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>J</h2>
            <input type="button" onclick='jshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='jselectAll()' value="Select All"/>
            <input type="button" onclick='jUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="jsub-divisions" style="display: none">
            {% for  place in j_sub_list %}
                    <input type="checkbox" id="locations" name="j_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>K</h2>
            <input type="button" onclick='kshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='kselectAll()' value="Select All"/>
            <input type="button" onclick='kUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="ksub-divisions" style="display: none">
            {% for  place in k_sub_list %}
                    <input type="checkbox" id="locations" name="k_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>L</h2>
            <input type="button" onclick='lshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='lselectAll()' value="Select All"/>
            <input type="button" onclick='lUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="lsub-divisions" style="display: none">
            {% for  place in l_sub_list %}
                    <input type="checkbox" id="locations" name="l_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>M</h2>
            <input type="button" onclick='mshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='mselectAll()' value="Select All"/>
            <input type="button" onclick='mUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="msub-divisions" style="display: none">
            {% for  place in m_sub_list %}
                    <input type="checkbox" id="locations" name="m_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            <h2>N</h2>
            <input type="button" onclick='nshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='nselectAll()' value="Select All"/>
            <input type="button" onclick='nUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="nsub-divisions" style="display: none">
            {% for  place in n_sub_list %}
                    <input type="checkbox" id="locations" name="n_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>O</h2>
            <input type="button" onclick='oshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='oselectAll()' value="Select All"/>
            <input type="button" onclick='oUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="osub-divisions" style="display: none">
            {% for  place in o_sub_list %}
                    <input type="checkbox" id="locations" name="o_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>P</h2>
            <input type="button" onclick='pshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='pselectAll()' value="Select All"/>
            <input type="button" onclick='pUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="psub-divisions" style="display: none">
            {% for  place in p_sub_list %}
                    <input type="checkbox" id="locations" name="p_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>Q</h2>
            <input type="button" onclick='qshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='qselectAll()' value="Select All"/>
            <input type="button" onclick='qUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="qsub-divisions" style="display: none">
            {% for  place in q_sub_list %}
                    <input type="checkbox" id="locations" name="q_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>R</h2>
            <input type="button" onclick='rshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='rselectAll()' value="Select All"/>
            <input type="button" onclick='rUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="rsub-divisions" style="display: none">
            {% for  place in r_sub_list %}
                    <input type="checkbox" id="locations" name="r_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>S</h2>
            <input type="button" onclick='sshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='sselectAll()' value="Select All"/>
            <input type="button" onclick='sUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="ssub-divisions" style="display: none">
            {% for  place in s_sub_list %}
                    <input type="checkbox" id="locations" name="s_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>T</h2>
            <input type="button" onclick='tshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='tselectAll()' value="Select All"/>
            <input type="button" onclick='tUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="tsub-divisions" style="display: none">
            {% for  place in t_sub_list %}
                    <input type="checkbox" id="locations" name="t_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>U</h2>
            <input type="button" onclick='ushowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='uselectAll()' value="Select All"/>
            <input type="button" onclick='uUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="usub-divisions" style="display: none">
            {% for  place in u_sub_list %}
                    <input type="checkbox" id="locations" name="u_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>V</h2>
            <input type="button" onclick='vshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='vselectAll()' value="Select All"/>
            <input type="button" onclick='vUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="vsub-divisions" style="display: none">
            {% for  place in v_sub_list %}
                    <input type="checkbox" id="locations" name="v_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>W</h2>
            <input type="button" onclick='wshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='wselectAll()' value="Select All"/>
            <input type="button" onclick='wUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="wsub-divisions" style="display: none">
            {% for  place in w_sub_list %}
                    <input type="checkbox" id="locations" name="w_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>X</h2>
            <input type="button" onclick='xshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='xselectAll()' value="Select All"/>
            <input type="button" onclick='xUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="xsub-divisions" style="display: none">
            {% for  place in x_sub_list %}
                    <input type="checkbox" id="locations" name="x_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>Y</h2>
            <input type="button" onclick='yshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='yselectAll()' value="Select All"/>
            <input type="button" onclick='yUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="ysub-divisions" style="display: none">
            {% for  place in y_sub_list %}
                    <input type="checkbox" id="locations" name="y_sub_list" value='{{place}}''>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>

            <h2>Z</h2>
            <input type="button" onclick='zshowhide()' value="SHOW/HIDE"/>
            <input type="button" onclick='zselectAll()' value="Select All"/>
            <input type="button" onclick='zUnSelectAll()' value="Unselect All"/>
            <br>
            <div id="zsub-divisions" style="display: none">
            {% for  place in z_sub_list %}
                    <input type="checkbox" id="locations" name="z_sub_list" value='{{place}}'>
                    <label for={{place}}> {{place}}</label>
            {% endfor %}
            </div>
            </div>

            <div class="row">

            <div class="col-md-12" style="text-align:center;">
            <input type="submit" class="btn btn-primary" value="Edit Selected Locations" name="edit"> <hr>
            </div>
      </div>
        </form>
        
    </body>
</html>
